aws_region           = "eu-west-1"
environment          = "prod"
vpc_cidr             = "10.0.0.0/16"
availability_zones   = ["eu-west-1a", "eu-west-1b", "eu-west-1c"]
public_subnet_cidrs  = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
private_subnet_cidrs = ["10.0.11.0/24", "10.0.12.0/24", "10.0.13.0/24"]

cluster_name       = "tiny-ledger-prod-eks"
kubernetes_version = "1.31"

node_instance_types = ["t3.medium"]
node_desired_size   = 3
node_min_size       = 2
node_max_size       = 6

postgres_instance_class    = "db.t4g.medium"
postgres_allocated_storage = 20
postgres_database_name     = "ledger"
postgres_admin_username    = "ledger_admin"

redis_node_type          = "cache.t4g.medium"
redis_num_cache_clusters = 2

kafka_instance_type = "kafka.m5.large"
kafka_volume_size   = 100

tags = {
  Project     = "tiny-ledger"
  Environment = "prod"
  ManagedBy   = "Terraform"
}
